* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wraper-count-down-timer {
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wraper-count-down-timer .content {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

.box {
    padding: 30px 35px;
    color: #ffffff;
}

.box p {
    font-weight: 900;
    font-size: 90px;
}

.box span {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    display: block;
}

@media screen and (max-width: 500px) {
    .box {
        padding: 0px 10px;
        color: #ffffff;
    }

    .box p {
        font-weight: 900;
        font-size: 60px;
    }

    .box span {
        font-size: 30px;
    }
}
